.Supplier-container{
    flex-direction: column;
    justify-content: center;
    width: 23%;
    align-items: center;
    padding-left: 8px;
}

.table-contenedor{
    max-height: 445px;
    overflow-y: auto;
}

.table-fit {
    width: 100%;
    table-layout: fixed;
  }
.btnVer{
    height: 40px;
    width: 100px;
}

.btnFiltros{
    height: 40px;
    width: 120px;
}
.btnRegistrar{
    height: 40px;
    width: 180px;
}
.btnCS{
    height: 40px;
    width: 150px;
}

.contenedor-bloqueo{
    background-color: #f0f0f0; /* Color de fondo de input readonly */
    pointer-events: none; /* Desactiva eventos de clic y puntero */
}
.botonCierre{
    position: absolute;
    top: 306px;
    right: 16px;
    height: 40px;
    width: 130px;
}

.monto-div{
    align-items: center;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.form-control{
    width: 120px;
}

.Supplier-container2{
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    margin-top: 10px;
    margin-left: 250px;
}

.smaller-table {
    font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
  }